<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.px.sys.modular.system.mapper.SysAboutusMapper">

    <resultMap type="cn.px.sys.modular.system.entity.SysAboutusEntity" id="SysAboutusMap">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="sort" column="sort" jdbcType="INTEGER"/>
        <result property="enable" column="enable" jdbcType="INTEGER"/>
        <result property="remark" column="remark" jdbcType="VARCHAR"/>
        <result property="createBy" column="create_by" jdbcType="INTEGER"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updateBy" column="update_by" jdbcType="INTEGER"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
        <result property="image" column="image" jdbcType="VARCHAR"/>
        <result property="description" column="description" jdbcType="VARCHAR"/>
        <result property="email" column="email" jdbcType="VARCHAR"/>
        <result property="phone" column="phone" jdbcType="VARCHAR"/>
        <result property="address" column="address" jdbcType="VARCHAR"/>
    </resultMap>
    
    <sql id="selectSysAboutusVo">
        select id, sort, enable, remark, create_by, create_time, update_by, update_time, image, description, email, phone, address from sys_aboutus
    </sql>
    
    <select id="selectIdPage" resultType="java.lang.Long">
        SELECT id FROM  sys_aboutus
        <where>
                enable = 1
            <if test="cm.id != null">
                and id = #{cm.id}
            </if>
            <if test="cm.sort != null">
                and sort = #{cm.sort}
            </if>
            <if test="cm.enable != null">
                and enable = #{cm.enable}
            </if>
            <if test="cm.remark != null and cm.remark != ''">
                and remark = #{cm.remark}
            </if>
            <if test="cm.createBy != null">
                and create_by = #{cm.createBy}
            </if>
            <if test="cm.createTime != null">
                and create_time = #{cm.createTime}
            </if>
            <if test="cm.updateBy != null">
                and update_by = #{cm.updateBy}
            </if>
            <if test="cm.updateTime != null">
                and update_time = #{cm.updateTime}
            </if>
            <if test="cm.image != null and cm.image != ''">
                and image = #{cm.image}
            </if>
            <if test="cm.description != null and cm.description != ''">
                and description = #{cm.description}
            </if>
            <if test="cm.email != null and cm.email != ''">
                and email = #{cm.email}
            </if>
            <if test="cm.phone != null and cm.phone != ''">
                and phone = #{cm.phone}
            </if>
            <if test="cm.address != null and cm.address != ''">
                and address = #{cm.address}
            </if>
        </where>
    </select>
</mapper>