<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.px.sys.modular.member.mapper.MemberMapper">

    <resultMap type="cn.px.sys.modular.member.entity.MemberEntity" id="MemberMap">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="enable" column="enable" jdbcType="INTEGER"/>
        <result property="createBy" column="create_by" jdbcType="INTEGER"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updateBy" column="update_by" jdbcType="INTEGER"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
        <result property="remark" column="remark" jdbcType="OTHER"/>
        <result property="sort" column="sort" jdbcType="INTEGER"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
        <result property="belongingCommunity" column="belonging_community" jdbcType="INTEGER"/>
        <result property="belongingHome" column="belonging_home" jdbcType="INTEGER"/>
        <result property="address" column="address" jdbcType="VARCHAR"/>
        <result property="belongingUnit" column="belonging_unit" jdbcType="INTEGER"/>
        <result property="numbering" column="numbering" jdbcType="VARCHAR"/>
        <result property="avatar" column="avatar" jdbcType="OTHER"/>
        <result property="nickname" column="nickname" jdbcType="VARCHAR"/>
        <result property="phone" column="phone" jdbcType="VARCHAR"/>
        <result property="integral" column="integral" jdbcType="INTEGER"/>
        <result property="idNumber" column="id_number" jdbcType="VARCHAR"/>
        <result property="isBind" column="is_bind" jdbcType="INTEGER"/>
        <result property="openid" column="openid" jdbcType="VARCHAR"/>
        <result property="userId" column="user_id" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="selectMemberVo">
        select id, enable, create_by as "createBy", create_time as "createTime", update_by as "updateBy", update_time as "updateTime", remark, sort, name, belonging_community as "belongingCommunity", belonging_home as "belongingHome", address, belonging_unit as "belongingUnit", numbering, avatar, nickname, phone, integral, id_number as "idNumber", is_bind, openid, user_id as "userId",expertise from member
    </sql>

    <select id="selectIdPage" resultType="java.lang.Long">
        SELECT id FROM member
        <where>
            enable = 1
            <if test="cm.id != null">
                and id = #{cm.id}
            </if>
            <if test="cm.enable != null">
                and enable = #{cm.enable}
            </if>
            <if test="cm.createBy != null">
                and create_by = #{cm.createBy}
            </if>
            <if test="cm.createTime != null">
                and create_time = #{cm.createTime}
            </if>
            <if test="cm.updateBy != null">
                and update_by = #{cm.updateBy}
            </if>
            <if test="cm.updateTime != null">
                and update_time = #{cm.updateTime}
            </if>
            <if test="cm.remark != null">
                and remark = #{cm.remark}
            </if>
            <if test="cm.sort != null">
                and sort = #{cm.sort}
            </if>
            <if test="cm.name != null and cm.name != ''">
                and name = #{cm.name}
            </if>
            <if test="cm.belongingCommunity != null">
                and belonging_community = #{cm.belongingCommunity}
            </if>
            <if test="cm.belongingHome != null">
                and belonging_home = #{cm.belongingHome}
            </if>
            <if test="cm.address != null and cm.address != ''">
                and address = #{cm.address}
            </if>
            <if test="cm.belongingUnit != null">
                and belonging_unit = #{cm.belongingUnit}
            </if>
            <if test="cm.numbering != null and cm.numbering != ''">
                and numbering = #{cm.numbering}
            </if>
            <if test="cm.avatar != null">
                and avatar = #{cm.avatar}
            </if>
            <if test="cm.nickname != null and cm.nickname != ''">
                and nickname = #{cm.nickname}
            </if>
            <if test="cm.phone != null and cm.phone != ''">
                and phone = #{cm.phone}
            </if>
            <if test="cm.integral != null">
                and integral = #{cm.integral}
            </if>
            <if test="cm.idNumber != null and cm.idNumber != ''">
                and id_number = #{cm.idNumber}
            </if>
            <if test="cm.isBind != null">
                and is_bind = #{cm.isBind}
            </if>
            <if test="cm.openid != null and cm.openid != ''">
                and openid = #{cm.openid}
            </if>
            <if test="cm.userId != null">
                and user_id = #{cm.userId}
            </if>
        </where>
    </select>
    <select id="getMemberEntityByPhone" resultType="cn.px.sys.modular.member.entity.MemberEntity">
     <include refid="selectMemberVo"/> where enable = 1 and user_id = #{userId}
    </select>

    <select id="getListPage" resultType="map">
        select m.id,m.user_id as "userId",m.name,au.nickname as "nickname",au.avatar,au.integral,au.phone,m.create_time as "createTime",au.remaining_points as "remainingPoints" from member m LEFT JOIN all_user au ON au.id = m.user_id
         <where>
             m.enable = 1
             <if test="name != null and name != ''">
                 and m.name like CONCAT('%',#{name},'%')
             </if>
             <if test="phone != null and phone != ''">
                 and au.phone = #{phone}
             </if>
             <if test="cid != null">
                 and m.belonging_community = #{cid}
             </if>
             <if test="belongingCommunity != null">
                 and  m.belonging_community = #{belongingCommunity}
             </if>
             <if test="belongingUnit != null">
                 and  m.belonging_unit = #{belongingUnit}
             </if>
             <if test="expertise != null">
                 and  m.expertise = #{expertise}
             </if>
         </where>
         ORDER BY au.remaining_points DESC
    </select>

    <select id="getMemberEntityByUserId" resultType="cn.px.sys.modular.member.entity.MemberEntity">
        select name,belonging_community as "belongingCommunity",belonging_unit as "belongingUnit" from member where user_id = #{userId}
    </select>

    <select id="getIntegral" resultType="cn.px.sys.modular.member.vo.MemberVo">
        select ifnull(sum(au.remaining_points),0) as "remainingPoints"  from member m LEFT JOIN all_user au ON au.id = m.user_id
        where m.enable = 1 and m.belonging_community = #{cid}
    </select>
    <select id="getIntegral1" resultType="cn.px.sys.modular.member.vo.MemberVo">
          select ifnull(sum(au.remaining_points),0) as "remainingPoints"  from member m LEFT JOIN all_user au ON au.id = m.user_id
        where m.enable = 1 and m.belonging_unit = #{uid}
    </select>


    <select id="getMemberEntityByUnit" resultType="cn.px.sys.modular.member.entity.MemberEntity">

        <include refid="selectMemberVo"/>
         where belonging_unit = #{unit}
    </select>
</mapper>